<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Package visibility. Without this, setPackage on the outgoing intent resolves to nothing
         on Android 11 and later and the send fails silently. -->
    <queries>
        <package android:name="com.mateof.passvault" />
        <package android:name="com.mateof.passvault.debug" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <!-- exported, because the entire point is being started by name from adb. -->
        <activity
            android:name=".SenderActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mateof.passvault.sender.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sender_paths" />
        </provider>
    </application>
</manifest>
